  .popup__object-picture  {
    object-fit: cover;
    object-position: center;
    max-width: 75vh;
    max-height: 70vh;
  }
  
  @media screen and (max-width: 730px) {
    .popup__object-picture {
      width: 55vh;
      max-height: 70vh;
    }
  }
  
  @media screen and (max-width: 568px) {
    .popup__object-picture  {
      width: 240px;
      height: 300px;
    }
  }