.popup__button-close {
  color: #fff;
  width: 32px;
  height: 32px;
  background-image: url(../../../image/Close-Icon.svg);
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: 0.8s;
  margin: -38px -38px 8px auto;
}

.popup__button-close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    margin: -42px 0 16px auto;
  }
}